/* Styles for the RoomPage component */
div {
    background-color: #808080; /* Dark red background color */
    color: #880000; /* Dark red text color */
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Light box shadow */
  }
  
  h1 {
    color: #b30000; /* Darker red text color for headings */
  }
  
  h4 {
    color: #660000; /* Dark red text color for status message */
  }
  
  button {
    background: #b30000; /* Dark red background color for buttons */
    color: #fff; /* White text color for buttons */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #990000; /* Darker red on hover */
  }
  
  /* Style for the video titles */
  h1 {
    color: #b30000; /* Darker red text color for video titles */
  }
  
  /* Style for the 'Connected' or 'No one in room' message */
  h4 {
    color: #660000; /* Dark red text color for status message */
  }
  